/* Theme */

main {
	background-image: url("http://www.psdgraphics.com/file/2016/simple-geometric-design.png") ;
	color: #FAFAFA;
   background-repeat: no-repeat;
    background-size: auto;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
