/* Theme */

main {
	background-image: url("http://www.psdgraphics.com/file/2016/simple-geometric-design.png") ;
	color: #FAFAFA;
   background-size: 50%;
 background-repeat: no-repeat; 
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
