/* Theme */

main {
	background-image: url("https://cdn.pixabay.com/photo/2017/08/19/17/19/texture-2659241_960_720.jpg") ;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
